h1 {
    font-family: sans-serif; color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
}

.container {
    font-family: sans-serif; color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px;
    background: solid #dedede;
    padding: 15px;
    margin: 15px;
}

    .sketchField {
        width: 100%;
        color: rgba(0,0,0,0.87);
        border: 1px solid;
        width: auto;
        display: grid;
        grid-template-columns: repeat(16, 20px);
        grid-template-rows:repeat(16, 20px);
        /* grid-gap: 10px; */
    }
