body {
    background-color: rgba(0,0,0,0.10);
}

h1 {
    font-family: sans-serif; color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
}

.container {
    font-family: sans-serif; color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px;
    background: solid #dedede;
    padding: 15px;
    margin: 15px;
}

    #resetButton {
        margin: 20px;
    }

    .sketchField {
        height: 500px;
        width: 500px;
        color: rgba(0,0,0,0.10);
        border: 3px solid;
        display: grid;
        grid-template-columns: repeat(16, 20px);
        grid-template-rows:repeat(16, 20px);
        /* grid-gap: 10px; */
    }

        /* .divItem:hover {
            background-color: rgba(0,0,0,0.87);
        } */

        .divItem {
            /* border: 1px solid; */
            background-color: white;
        }

        .divItemChanged {
            border: 1px solid;
            background-color: rgba(143, 45, 45, 100);
        }

        .slidecontainer {
  width: 100%; /* Width of the outside container */
}


.sliderTitle {
    font-family: sans-serif; color: #333;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

    #gridSize {
        padding-left: 10px;
    }

.slidecontainer {
    font-family: sans-serif; color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    /* The slider itself */
    .slider {
        appearance: none;
        width: 500px; /* Full-width */
        height: 25px; /* Specified height */
        background: #d3d3d3; /* Grey background */
        outline: none; /* Remove outline */
        opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
        -webkit-transition: .2s; /* 0.2 seconds transition on hover */
        transition: opacity .2s;
    }

    /* Mouse-over effects */
    .slider:hover {
        opacity: 1; /* Fully shown on mouse-over */
    }

    /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
    .slider::-webkit-slider-thumb {
        -webkit-appearance: none; /* Override default look */
        appearance: none;
        width: 25px; /* Set a specific slider handle width */
        height: 25px; /* Slider handle height */
        background: #04AA6D; /* Green background */
        cursor: pointer; /* Cursor on hover */
        }

    .slider::-moz-range-thumb {
        width: 25px; /* Set a specific slider handle width */
        height: 25px; /* Slider handle height */
        background: #04AA6D; /* Green background */
        cursor: pointer; /* Cursor on hover */
    }